article, .sf-article {

  a.fa {
    &, &:hover, &:active {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }

  a[target~=_blank] {
    display: inline-block;

    &:not(.fa)::after {
      // Icon.
      content: $fa-var-external-link;

      // Base icon styles.
      @extend .fa;

      // Cosmetic.
      margin-left: 0.3em;
      opacity: 0.5;
      font-size: 0.8em;
    }

    > .clamp {
      margin-bottom: 0;
      + * {
        margin-top: 0;
      }
    }
  }
}
