.spinner-container {
  /**
   * Layout.
   */
  margin-left: auto;
  margin-right: auto;
  // Width must stay at 1em. Height may be adjusted.
  width: 1em;
  height: 1em;

  // Inner layout.
  @extend .row-center-center;

  .spinner {
    @extend .fa;
    @extend .fa-spinner;
    @extend .fa-spin;
  }

  // Larger sizes.
  &.size-medium {font-size: 2em}
  &.size-large  {font-size: 4em}
  &.size-huge   {font-size: 6em}
}
