.app-words {

  // Cosmetic.
  .sf-tabset, .sf-tab {
    box-shadow: none;
    outline: none;
    border: none;
  }

  .word {
    // Layout.
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > span {
      padding: $sf-space;
    }

    > button {
      min-width: $sf-space * 3;
    }

    /**
     * Decorative colouring.
     */
    &:nth-of-type(5n+1) {
      background-color: rgba($color-aqua, 0.2);
    }
    &:nth-of-type(5n+2) {
      background-color: rgba($color-teal, 0.2);
    }
    &:nth-of-type(5n+3) {
      background-color: rgba($color-green, 0.2);
    }
    &:nth-of-type(5n+4) {
      background-color: rgba($color-lime, 0.2);
    }
    &:nth-of-type(5n+5) {
      background-color: rgba($color-yellow, 0.2);
    }
  }
}
