app-spinner {

  /**
   * Layout.
   */
  margin-left: auto;
  margin-right: auto;
  // Width must stay at 1em. Height may be adjusted.
  width: 1em;
  height: 1em;

  // Inner layout.
  display: flex;
  align-items: center;
  justify-content: space-around;

  // Use a pseudoelement for the background.
  &::before {
    content: '';

    /**
     * Layout.
     */
    display: block;
    flex: 1;
    // Width and height must stay at 1em. We adjust font-size to enlarge the
    // element.
    width: 1em;
    height: 1em;

    background-image: svg-url-black(spinner);
    background-repeat: no-repeat;
    background-size: contain;

    // Animate rotation.
    @keyframes spin {100% {transform: rotate(360deg)}}
    animation: spin 3s linear infinite;
  }

  // Use white icon with inverse themes.
  [theme]:not([theme|=text]) &::before {
    background-image: svg-url-white(spinner);
  }

  // Larger sizes.
  &[size=medium] {font-size: 2em}
  &[size=large]  {font-size: 4em}
  &[size=huge]   {font-size: 6em}
}
