<!DOCTYPE html>
<html>
  <head>
    <title>{{typeof title !== 'undefined' ? title : 'about:mitranim'}}</title>
    <meta name="author" content="mitranim">
    <meta name="description" content="{{typeof description !== 'undefined' ? description : 'about me: works, blog, demos'}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="icon" href="data:;base64,=">

    {% if (typeof type !== 'undefined') { %}
      <meta property="og:site_name" content="about:mitranim">
      <meta property="og:type" content="{{type}}">
    {% } %}
    {% if (typeof title !== 'undefined') { %}
      <meta property="og:title" content="{{title}}">
    {% } %}
    {% if (typeof description !== 'undefined') { %}
      <meta property="og:description" content="{{description}}">
    {% } %}
    {% if (typeof image !== 'undefined') { %}
      <meta property="og:image" content="/images/{{image}}">
    {% } %}
  </head>

  <body>
    <!-- Navbar -->
    {{include('partials/navbar.html')}}

    <!-- Site content -->
    {% if (path === 'index.html') { %}
      <article>
        {{include('partials/index.md')}}
      </article>
    {% } else { %}
      {{content}}
    {% } %}

    <!-- Footer -->
    {{include('partials/footer.html')}}

    {% if (!prod) { %}
      <script>
        window.developmentMode = true;
      </script>
    {% } %}

    <script src="/scripts/app.js" async></script>
  </body>
</html>
