<!DOCTYPE html>
<html>
  <head>
    <title><%= $title.toLowerCase() || 'about:mitranim' %></title>
    <meta name="author" content="mitranim">
    <meta name="description" content="<%= typeof description !== 'undefined' ? description : 'about me: projects, blog, demos' %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">

    <% if (typeof title !== 'undefined') { %>
      <meta property="og:type" content="article">
      <meta property="og:title" content="<%= title %>">
    <% } %>
    <% if (typeof description !== 'undefined') { %>
      <meta property="og:description" content="<%= description %>">
    <% } %>
    <% if (typeof image !== 'undefined') { %>
      <meta property="og:image" content="<%= image %>">
    <% } %>
    <% if (typeof title !== 'undefined') { %>
      <meta property="og:site_name" content="about:mitranim">
    <% } %>
  </head>

  <body>
    <!-- Navbar -->
    <%= $include('partials/navbar', $) %>

    <!-- Site content -->
    <% if ($path === 'index') { %>
      <%= $include('$index', $) %>
    <% } else { %>
      <%= $content %>
    <% } %>

    <!-- Footer -->
    <%= $include('partials/footer', $) %>

    <!-- JS -->
    <script src="/app.js" async></script>
    <% if (!prod()) { %>
      <script src="/env.js"></script>
    <% } %>
  </body>
</html>
