<% $entitle('thoughts', $) %>

<div class="sf-jumbo" style="background-image: url(/images/aite.jpg)">
  <div class="row-between-end">
    <div class="flex-1">
      <h2>random thoughts</h2>
    </div>
    <div>
      <%= $include('partials/feed-links', $) %>
    </div>
  </div>
</div>

<% for (var post of this.meta.thoughts.files) { %>
  <% if (post.skip) return; %>
  <% path = 'thoughts/' + post.name %>

  <div>
    <h2 style="border-bottom: 1px dotted lightgray">
      <a href="/<%= path %>/" class="block pad"><%= post.title %></a>
    </h2>
    <div class="container">
      <% if (post.description) { %>
        <p><%= post.description %></p>
      <% } else { %>
        <p>
          <%= truncate($include(path, $), 127) %>
          <a href="/<%= path %>/">→</a>
        </p>
      <% } %>
      <p class="fade" style="font-size: 0.8em"><%= post.date instanceof Date ? post.date.toDateString() : post.date %></p>
    </div>
  </div>
<% } %>
