{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%"]
      },
      "loose": true,
      "useBuiltIns": true,
      "exclude": ["transform-regenerator"]
    }]
  ],
  "plugins": [
    ["transform-class-properties", {"spec": false}],
    ["transform-object-rest-spread", {"loose": true}],
    "transform-react-jsx"
  ]
}
