article, .sf-article {

  a[class*=sf-icon] {
    &, &:hover, &:active {
      border: none;
      background-color: transparent;
    }
  }

  a[target~=_blank]:not([class*=sf-icon])::after {
    content: '';
    /**
     * Layout.
     */
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    min-height: 1em;
    min-width: 1em;

    /**
     * Background icon: image and styling.
     */
    @include bg-svg-black(external-link);
    background-position: 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;

    /**
     * Cosmetic.
     */
    margin-left: 0.3em;
    opacity: 0.5;
  }
}
