<div class="sf-footer">
  <div class="sf-footer-body">
    <div class="flex-1 layout-column layout-cross-start">
      <span>
        <%= ((new Date()).getFullYear() > 2015 ? 'y2015—' + (new Date()).getFullYear() : 'y2015') %>
      </span>
    </div>
    <div class="flex-1 layout-column layout-cross-center">
      <p>
        <a href="/#contacts">get in touch</a>
      </p>
    </div>
    <div class="flex-1 layout-column layout-cross-end">
      <button class="footer-button-up theme-text-primary" onclick="window.scrollTo(0, 0)"></button>
    </div>
  </div>
</div>
