<div class="row-start-stretch sm-flex-wrap">
  <nav class="flex-1 row-start-stretch sm-margin-1-b">
    <a href="/"          class="text-larger pad interact-nav {{act('index')}}">home</a>
    <a href="/works/"    class="text-larger pad interact-nav {{act('works')}}">works</a>
    <a href="/thoughts/" class="text-larger pad interact-nav {{act('thoughts')}}">thoughts</a>
    <a href="/demos/"    class="text-larger pad interact-nav {{act('demos')}}">demos</a>
  </nav>
  <span class="text-right text-blue row-end-center">Updated: {{new Date().toDateString()}}</span>
</div>
