<div class="sf-navbar">
  <a <%= $act('index', $) %> href="/">about</a>
  <a <%= $act('projects', $) %> href="/projects/">projects</a>
  <a <%= $act('thoughts', $) %> href="/thoughts/">thoughts</a>
  <div class="sf-dropdown">
    <label class="layout-center">demos</label>
    <div class="sf-dropdown-list" style="width: 100%">
      <a <%= $act('foliant', $) %> href="/foliant/">foliant</a>
      <a <%= $act('ng-next-gen-demo', $) %> href="/ng-next-gen-demo/">ng-next-gen</a>
    </div>
  </div>
</div>
