@import './node_modules/stylific/scss/_variables';

@mixin sm {
  @media (max-width: $sf-breakpoint-sm - 1) {
    @content;
  }
}

@mixin gt-sm {
  @media (min-width: $sf-breakpoint-sm) {
    @content;
  }
}

@mixin gt-md {
  @media (min-width: $sf-breakpoint-md) {
    @content;
  }
}

/**
 * Scales the given rule by different percentages depending on display width.
 */
@mixin media-mix($rule, $value) {
  @include sm {#{$rule}: $value * 0.8}
  @include gt-sm {#{$rule}: $value * 0.9}
  @include gt-md {#{$rule}: $value}
}

/**
 * Scales the given rule inversely by different percentages depending on
 * display width.
 */
@mixin media-mix-inverse($rule, $value) {
  @include sm {#{$rule}: $value}
  @include gt-sm {#{$rule}: $value * 0.9}
  @include gt-md {#{$rule}: $value * 0.8}
}

// Pre-override default link mixin.
@mixin sf-link-decorations {
  border-bottom: 1px dotted;
  border-color: inherit;
  background-color: rgba($sf-color-link, 0.03);
  color: $color-link;
  &:visited {
    color: lighten($color-link, 10%);
  }
}
