$fa-font-path: '/fonts';

// Brand-specific colors. Source: http://brandcolors.net.
$color-skype:     #00aff0;  // unverified
$color-github:    #4183c4;  // unverified
$color-twitter:   #55acee;  // verified
$color-linkedin:  #0976b4;  // unverified
$color-facebook:  #3b5998;  // unverified

// http://clrs.cc
$color-navy:    #001f3f;
$color-blue:    #0074d9;
$color-aqua:    #7fdbff;
$color-teal:    #39cccc;
$color-olive:   #3d9970;
$color-green:   #2ecc40;
$color-lime:    #01ff70;
$color-yellow:  #ffdc00;
$color-orange:  #ff851b;
$color-red:     #ff4136;
$color-maroon:  #85144b;
$color-fuchsia: #f012be;
$color-purple:  #b10dc9;
$color-black:   #111111;
$color-gray:    #aaaaaa;
$color-silver:  #dddddd;

$sf-font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Roboto, 'Segoe UI', Verdana, sans-serif;
$sf-font-weight: 400;
$sf-body-max-width: 768px;
