/**
 * Whitespace
 */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: $sf-space;
}

pre {
  white-space: pre-wrap;
}

ul, ol {
  // Normalise default offset.
  margin-left: $sf-space;
  padding-left: 0;
  // Normalise nested offset.
  ul, ol {
    margin-left: $sf-space;
  }
}

/**
 * Misc
 */

// Globally limit image width.
img {
  max-width: 100%;
}

// Normalise <ul> and <ol> bullet position.
ul, ol {
  list-style-position: inside;
}

// Replace focus outline with box-shadow.
:focus {
  outline: none;
  $color: rgba(map-get($sf-color-map-primary, default), 0.4);
  box-shadow: 0 0 0 2px $color;
}

// Negate the custom focus indicator, use the default if possible.
select:focus {
  box-shadow: none;
  outline: -webkit-focus-ring-color auto;
}

// Common-sense cursor styles.
a[href], button {
  cursor: pointer;
}
[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

// Prettier rule.
hr {
  margin: $sf-space 0;
  border: none;
  border-top: 1px solid lightgrey;
}

// Prevent textareas from breaking out of containers on horizontal resize.
textarea {
  resize: vertical;
}

// Negate anchor decorations.
a {
  text-decoration: none;
}
a:focus {
  box-shadow: none;
}

// Link decorations in typographic tags.
p a, ul a, ol a, dl a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a.decorated {
  border-bottom: 1px dotted;
  &:hover, &:focus {
    border-bottom: 1px solid;
  }
}

// IE 10 fix & raised specificity.
[hidden]:not(:root) {display: none}

// IE fix.
template {display: none !important}

/**
 * Typography
 */

html {
  font-family: $sf-font-family-sans-serif;
  font-weight: $sf-font-weight;
  font-size: $sf-rem;
  line-height: $sf-line-height;
  @media (max-width: $sf-breakpoint-md) {font-size: $sf-rem * 0.9}
  @media (max-width: $sf-breakpoint-sm) {font-size: $sf-rem * 0.8}
}

// Normalise header font weight.
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

// Normalise h1 size in Webkit in <article> context.
h1 {
  font-size: 2em;
}

// Normalise form and input text styles.
form, input, textarea, button, select, option {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: inherit; // FF
}

code, pre {
  font-family: $sf-font-family-monospace;
  // Normalise monospace font size.
  font-size: 14/16 * 1em;
  // Prevent further reduction.
  code, pre {
    font-size: 1em;
  }
}

// Restore size mods.
sub, sup {
  font-size: 0.5em;
}
small {
  font-size: $sf-font-size-smaller;
}
big {
  font-size: $sf-font-size-larger;
}

// Normalise bold elements.
b, strong {
  font-weight: bolder;
}
