/**
 * article
 *
 * TODO cleanup
 */

article {
  // When writing markdown, images should be wrapped into float helpers (below).
  img {
    // Layout.
    display: inline-block;
    width: 100%;
    height: auto;

    // Cosmetic.
    box-shadow: 0 0 1px 0 lightgray;
  }

  // Float helpers.
  .float-left {
    float: left;
    margin-right: $sf-space;
  }
  .float-right {
    float: right;
    margin-left: $sf-space;
  }
  // Allowing more then one float on the same line usually leads to layout
  // issues.
  .float-left, .float-right {
    clear: both;
  }

  // Size helpers.
  .tiny, .float-left, .float-right {width: 25%}
  .small {width: calc(1/3 * 100%)}
  .medium {width: 50%}

  // // Clear inner floating elements and prevent vertical outer and inner margins
  // // from collapsing.
  // @extend .clear-both;
}

/**
 * collapse
 */

.collapse--head {
  cursor: pointer;
  @extend .pad;

  &::after {
    content: '▷';

    display: inline-block;
    text-align: center;

    width: 1.5em;
    height: 1.5em;

    padding: 0;
    transform: translateY(0.1em);

    // Cosmetic.
    opacity: 0.5;
    transition: all 0.2s;
  }
}

.collapse--body {
  display: none;
  > :first-child {margin-top: 0}
  > :last-child {margin-bottom: 0}
}

.collapse.active > .collapse--head {
  &::after {
    content: '▶︎';
    transform: translateX(-0.2em) rotate(90deg);
  }
}

.collapse.active > .collapse--body {
  display: block;
}

/**
 * footer
 */

footer {
  min-height: 1em;
  margin: ($sf-space * 2) 0;
  text-align: center;
  > :first-child {float: left}
  > :last-child {float: right}
}

/**
 * nav
 */

.nav-h {
  > * {
    display: inline-block;
    padding: $sf-space / 2;
    &:hover, &:focus {
      background-color: rgba(gray, 0.1);
    }
    &.active {
      box-shadow: inset 0 -3px 0 0;
    }
  }
}

/**
 * spinner
 */

.spinner {
  text-align: center;
  &.size-medium {font-size: 2em}
  &.size-large  {font-size: 4em}
  &.size-huge   {font-size: 6em}
}

.spinner--spin {
  @extend .fa;
  &::before {content: $fa-var-spinner}
  @extend .fa-spin;
}
