/**
 * button
 */

button {
  padding: $sf-space / 2;

  font-size: inherit;

  color: inherit;
  background-color: inherit;

  border: none;
  box-shadow: 0 0 1px 0 lightgray;
  &:focus {@extend :focus;}

  // FF
  &:active {@extend :focus;}
  &::-moz-focus-inner {border: none}
}

/**
 * input
 */

input, textarea {
  padding: $sf-space / 2;
  border: none;
  box-shadow: 0 0 0 1px lightgray;
  color: inherit;
  background-color: inherit;
  &::placeholder {color: gray}
}

/**
 * collapse
 */

.collapse--head {
  cursor: pointer;
  @extend .pad;

  &::after {
    content: '▷';

    display: inline-block;
    text-align: center;

    width: 1.5em;
    height: 1.5em;

    padding: 0;
    transform: translateY(0.1em);

    // Cosmetic.
    opacity: 0.5;
    transition: all 0.2s;
  }
}

.collapse--body {
  display: none;
  > :first-child {margin-top: 0}
  > :last-child {margin-bottom: 0}
}

.collapse.active > .collapse--head {
  &::after {
    content: '▶︎';
    transform: translateX(-0.2em) rotate(90deg);
  }
}

.collapse.active > .collapse--body {
  display: block;
}

/**
 * footer
 */

footer {
  margin: ($sf-space * 2) 0;
  text-align: center;
  > :first-child {float: left}
  > :last-child {float: right}
}

/**
 * nav
 */

.nav-h {
  > * {
    display: inline-block;
    padding: $sf-space / 2;
    &:hover, &:focus {
      background-color: rgba(gray, 0.1);
    }
    &.active {
      box-shadow: inset 0 -3px 0 0;
    }
  }
}

/**
 * spinner
 */

.spinner {
  text-align: center;
  &.size-medium {font-size: 2em}
  &.size-large  {font-size: 4em}
  &.size-huge   {font-size: 6em}
}

.spinner--spin {
  @extend .fa;
  &::before {content: $fa-var-spinner}
  @extend .fa-spin;
}

/**
 * tooltip
 */

[data-tooltip] {
  $z-index: 10;
  position: relative;

  /**
   * Shared style for tooltip content and triangle.
   */
  &::after, &::before {
    // Layout.
    display: none;
    position: absolute;
    z-index: $z-index;

    // Use a constant small font size.
    font-size: unquote('#{$sf-tooltip-proportion}rem');

    // Counteract inherited font styles, if any.
    font-style: normal;
    font-weight: $sf-font-weight;
  }

  /**
   * Content-specific styles.
   */
  &::after {
    content: attr(data-tooltip);

    // Prevent from shrinking to the width or height of the parent.
    white-space: pre;

    // Use a fraction of the standard padding. We scale it down twice as much as
    // other dimensions.
    padding: $sf-space * $sf-tooltip-proportion / 2;

    // Use a fraction of the standard border radius.
    border-radius: $sf-border-radius * $sf-tooltip-proportion;

    // Colours.
    background-color: tomato;
    color: white;
  }

  /**
   * Triangle-specific styles.
   */
  &::before {
    content: '';
    // Cosmetic.
    border: $sf-tooltip-offset solid transparent;
  }

  // Never display empty tooltips.
  &[data-tooltip='']::after {content: none}
  &[data-tooltip='']::before {content: none}

  /**
   * Tooltip content and triangle positioning.
   */

  @mixin tooltip-position($main, $cross) {
    $translate: if($main == top or $main == bottom, translateX, translateY);
    $border-side: map-get((
      bottom: top,
      top: bottom,
      left: right,
      right: left
    ), $main);

    &::after {
      #{$main}: 100%;
      margin-#{$main}: $sf-tooltip-offset * 2;
      #{$cross}: 50%;
      transform: unquote('#{$translate}(-50%)');
    }
    &::before {
      // Layout.
      #{$main}: 100%;
      margin-#{$main}: 1px; // Fix for a 1px interval that appears in some browsers.
      #{$cross}: 50%;
      margin-#{$cross}: -$sf-tooltip-offset;
      // Border.
      border-#{$border-side}: $sf-tooltip-offset solid tomato;
    }
  }

  // Top (default).
  &:not([class*=sf-position]), &.sf-position-top {
    @include tooltip-position(bottom, left);
  }

  // // Right.
  // &.sf-position-right {
  //   @include tooltip-position(left, top);
  // }

  // // Bottom.
  // &.sf-position-bottom {
  //   @include tooltip-position(top, left);
  // }

  // // Left.
  // &.sf-position-left {
  //   @include tooltip-position(right, top);
  // }

  &:not([data-tooltip='']) {
    &::after, &::before {
      display: block;
    }
  }
}
