%flex-layout {
  display: flex;
}

%flex-row {
  @extend %flex-layout;
  flex-direction: row;
}

%flex-col {
  @extend %flex-layout;
  flex-direction: column;
}

.flex-row {
  @extend %flex-row;
}

.row-start-stretch {
  @extend %flex-row;
  justify-content: flex-start;
  align-items: stretch;
}

.row-end-center {
  @extend %flex-row;
  justify-content: flex-end;
  align-items: center;
}

.row-between-center {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
}

.col-between-stretch {
  @extend %flex-col;
  justify-content: space-between;
  align-items: stretch;
}

.col-start-end {
  @extend %flex-col;
  justify-content: flex-start;
  align-items: flex-end;
}

.md-flex-row {
  @media (min-width: $sf-breakpoint-md) {
    display: flex;
    flex-direction: row;
  }
}

.flex-1 {flex: 1}

.md-flex-1 {
  @media (min-width: $sf-breakpoint-md) {
    flex: 1;
  }
}

.flex-11 {flex: 11}

.sm-grid-1, .md-grid-2 {
  @extend %flex-layout;
  flex-wrap: wrap;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.sm-grid-1 > * {
  @media (max-width: $sf-breakpoint-sm) {flex-basis: 100%}
}

.md-grid-2 > * {
  @media (min-width: $sf-breakpoint-sm) {flex-basis: 50%}
}

.sm-flex-wrap {
  @media (max-width: $sf-breakpoint-sm) {flex-wrap: wrap}
}
