%layout {
  display: flex;
}

%row {
  @extend %layout;
  flex-direction: row;
}

%column {
  @extend %layout;
  flex-direction: column;
}

%row-between {
  @extend %row;
  justify-content: space-between;
}

.layout-row {
  @extend %row;
}

@media (min-width: $sf-breakpoint-md) {
  .md-layout-row {
    display: flex;
    flex-direction: row;
  }
}

.flex-1 {flex: 1}

@media (min-width: $sf-breakpoint-md) {
  .md-flex-1 {
    flex: 1;
  }
}

.flex-11 {flex: 11}

.sm-grid-1, .md-grid-2 {
  @extend %layout;
  flex-wrap: wrap;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.sm-grid-1 > * {
  @media (max-width: $sf-breakpoint-sm) {flex-basis: 100%}
}

.md-grid-2 > * {
  @media (min-width: $sf-breakpoint-sm) {flex-basis: 50%}
}
