// @import './node_modules/highlight.js/styles/atelier-dune-light';
// @import './node_modules/highlight.js/styles/atelier-seaside-light';
@import 'node_modules/highlight.js/styles/tomorrow';
@import 'node_modules/@fortawesome/fontawesome/styles';

@import './reset';
@import './baselib';

/**
 * Variables
 */

$breakpoint-xs: 420px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1024px;
$max-page-width: $breakpoint-md;

// Grayscale
$color-white-07: rgba(255, 255, 255, 0.07);
$color-white-10: rgba(255, 255, 255, 0.10);
$color-white-12: rgba(255, 255, 255, 0.12);
$color-white-30: rgba(255, 255, 255, 0.30);
$color-white-50: rgba(255, 255, 255, 0.50);
$color-white-70: rgba(255, 255, 255, 0.70);
$color-white-87: rgba(255, 255, 255, 0.87);
$color-white:    white;
$color-black-03: rgba(0, 0, 0, 0.03);
$color-black-06: rgba(0, 0, 0, 0.06);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-black-20: rgba(0, 0, 0, 0.20);
$color-black-37: rgba(0, 0, 0, 0.37);
$color-black-54: rgba(0, 0, 0, 0.54);
$color-black-80: rgba(0, 0, 0, 0.80);
$color-black-87: rgba(0, 0, 0, 0.87);
$color-black:    black;

// http://clrs.cc
$color-navy:    #001f3f;
$color-blue:    #0074d9;
$color-aqua:    #7fdbff;
$color-teal:    #39cccc;
$color-olive:   #3d9970;
$color-green:   #2ecc40;
$color-lime:    #01ff70;
$color-yellow:  #ffdc00;
$color-orange:  #ff851b;
$color-red:     #ff4136;
$color-maroon:  #85144b;
$color-fuchsia: #f012be;
$color-purple:  #b10dc9;
$color-black:   #111111;
$color-gray:    #aaaaaa;
$color-silver:  #dddddd;

$color-focus: $color-aqua;
$color-indigo-dark: hsl(231, 60%, 30%); // #3f51b5
$color-link: $color-indigo-dark;

// Source: http://brandcolors.net.
$color-skype:     #00aff0;
$color-github:    #4183c4;
$color-twitter:   #55acee;
$color-linkedin:  #0976b4;
$color-facebook:  #3b5998;
$color-feedly:    #2bb24c;
$color-rss:       #f26522;

$border-radius: 2px;

$z-index-tooltip: 100;

$font-size-h1: 1.6rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.2rem;

@mixin transition($property: all, $duration: 0.2s, $function: ease-out) {
  transition: $property $duration $function;
}

/**
 * Global
 */

html {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Segoe UI', Verdana, sans-serif;
  font-size: 18px;
  // @media (max-width: $breakpoint-sm - 1) {font-size: 12px}
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .weight-normal;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
  @extend .center-by-margins;
  @extend .padding-1-h;
  max-width: $max-page-width;
}

@include rounding($border-radius);

%focus {
  box-shadow: inset 0 0 0 2px $color-focus;
}

.enable-focus-indicators {
  :focus, input:focus, textarea:focus {
    @extend %focus;
  }

  // Experimental
  :focus {
    z-index: 0;
  }

  select:focus,
  input[type=radio]:focus,
  input[type=checkbox]:focus {
    box-shadow: none;
    outline: -webkit-focus-ring-color auto;
  }
}

code, pre {
  background-color: rgb(250, 250, 245);
}

.unstyled-list {
  list-style-type: none;
}

/**
 * Typography
 */

.weight-bold {
  @extend .weight-semibold;
}

.font-small {
  font-size: 0.8rem;
}

.font-large {
  font-size: 1.4rem;
}

.font-giant {
  font-size: 2rem;
}

.font-monospace {
  font-family: Menlo, Consolas, monospace;
}

pre, code {
  @extend .font-monospace;
}

.underdash {
  border-bottom: 1px dashed;
}

.decorate-link[href] {
  color: $color-link;
  @extend .underdash;
}

.indicate-external-link::after {
  content: '→';
  margin-left: 0.2em;
}

.fancy-list > * {
  position: relative;
  padding-left: 1.5em;
}

.fancy-typography {
  h1 {font-size: $font-size-h1}
  h2 {font-size: $font-size-h2}
  h3 {font-size: $font-size-h3}

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    margin-bottom: 1rem;
  }

  > p, > ul, > ol, > pre {
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  > ul, > ol {
    @extend .fancy-list;
  }

  li {
    &:not(:first-child) {
      margin-top: 0.25rem;
    }
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  hr {
    @extend .margin-2-v;
    @extend .hr;
  }

  a:not(.undecorate) {
    @extend .decorate-link;
    &[target~=_blank] {
      @extend .indicate-external-link;
    }
  }
}

/**
 * Tooltip
 */

[aria-label] {
  @extend .relative;

  &::before,
  &::after {
    display: none;
    position: absolute;
    z-index: $z-index-tooltip;
    pointer-events: none;
    outline: none;
    padding: 0;
    // Negate inherited case transforms, if any.
    text-transform: none;
  }

  &:hover, .enable-focus-indicators &:focus {
    &::before,
    &::after {
      display: block;
    }
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
  }

  &::after {
    @extend .rounded;
    @extend .fg-white;
    background-color: $color-black-87;
    @extend .font-small;
    content: attr(aria-label);
    padding: 0.5rem;
    white-space: nowrap;
    pointer-events: none;
  }

  // Directions

  &:not([class*=aria-label-position]),
  &.aria-label-position-top {
    &::before,
    &::after {
      bottom: 100%;
      right: 50%;
      transform: translateX(50%);
    }

    &::before {
      border-top-color: $color-black-87;
    }

    &::after {
      @extend .margin-1-b;
    }
  }

  &.aria-label-position-right {
    &::before,
    &::after {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
    }

    &::before {
      border-right-color: $color-black-87;
    }

    &::after {
      @extend .margin-1-l;
    }
  }

  &.aria-label-position-bottom {
    &::before,
    &::after {
      top: 100%;
      right: 50%;
      transform: translateX(50%);
    }

    &::before {
      border-bottom-color: $color-black-87;
    }

    &::after {
      @extend .margin-1-t;
    }
  }

  &.aria-label-position-left {
    &::before,
    &::after {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
    }

    &::before {
      border-left-color: $color-black-87;
    }

    &::after {
      @extend .margin-1-r;
    }
  }
}

[aria-label='']::after, [aria-label='']::before {
  content: none;
}

/**
 * collapse
 */

.collapse--head {
  cursor: pointer;
  @extend .padding-1;

  &::after {
    content: '▷';

    display: inline-block;
    text-align: center;

    width: 1.5em;
    height: 1.5em;

    padding: 0;
    transform: translateY(0.1em);

    // Cosmetic.
    opacity: 0.5;
    @include transition;
  }
}

.collapse--body {
  display: none;
  > :first-child {margin-top: 0}
  > :last-child {margin-bottom: 0}
}

.collapse.active > .collapse--head {
  &::after {
    content: '▶︎';
    transform: translateX(-0.2em) rotate(90deg);
  }
}

.collapse.active > .collapse--body {
  display: block;
}
/**
 * Misc
 */

.center-by-margins {
  margin-left: auto;
  margin-right: auto;
}

.stretch-to-viewport {
  min-height: 100vh;
  @extend .col-start-stretch;
}

.limited-page-width {
  width: 100%;
  @extend .center-by-margins;
  max-width: $max-page-width;
  &:not(.--unpadded) {
    @extend .padding-1-h;
  }
}

.fg-black   {color: $color-black}
.fg-white   {color: $color-white}
.fg-pale    {color: $color-black-12}
.fg-faded   {color: $color-black-54}
.fg-blue    {color: $color-blue}
.fg-red     {color: $color-red}
.fg-link    {color: $color-link}

.bg-white   {background-color: $color-white}
.bg-light   {background-color: $color-black-03}
.bg-smoke   {background-color: aliceblue}
.bg-red {
  background-color: $color-red;
  color: white;
}

// Fix missing diff styles.
.hljs-addition {@extend .fg-blue;}
.hljs-deletion {@extend .fg-red;}

.hr {
  color: $color-black-37;
}

.busy-nav {
  color: $color-link;
  &:hover, &:focus {
    background-color: rgba(gray, 0.1);
  }
  &[aria-current=''], &[aria-current=true] {
    box-shadow: inset 0 -3px 0 0;
  }
}

.gaps-letter-h > :not(:first-child) {
  margin-left: calc(1em / 4);
}

.gaps-letter-v > :not(:first-child) {
  margin-top: 1ex;
}

[data-note]::before {
  content: attr(data-note);
}

@media print {
  .noprint:not(:root) {display: none}
}

.flat {
  border: none;
  box-shadow: none;
  outline: none;
}

// Brand icon colors
[data-icon=facebook] {color: $color-facebook}
[data-icon=github]   {color: $color-github}
[data-icon=linkedin] {color: $color-linkedin}
[data-icon=skype]    {color: $color-skype}
[data-icon=twitter]  {color: $color-twitter}
[data-icon=feedly]   {color: $color-feedly}
[data-icon=rss]      {color: $color-rss}

.fg-feedly {color: $color-feedly}

.heading-anchor {
  @include transition;
  margin-left: 0.5rem;
  visibility: hidden;
  opacity: 0;
  color: currentcolor;
  :hover > &, &:hover {
    visibility: visible;
    opacity: inherit;
  }
}
