/**
 * Misc settings.
 */

.fade {
  opacity: 0.5;
}

.text-capitalise {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

// Default to circle bullets.
ul, ol {
  list-style-type: circle;
}
