@import './node_modules/font-awesome/scss/mixins';

/**
 * Colours
 */

.text-capitalize {text-transform: capitalize}
.text-lowercase  {text-transform: lowercase}
// .text-underline  {text-decoration: underline}
.text-gray       {color: gray}
.text-lightgray  {color: lightgray}
.text-blue       {color: mediumslateblue}
.text-red        {color: orangered}

.bg-smoke {background-color: aliceblue}
.bg-red {
  background-color: tomato;
  color: white;
}

code, pre {
  background-color: aliceblue;
}

/**
 * Misc
 */

.list-unstyled {
  list-style-type: none;
}

// Fix missing diff styles.
.hljs-addition {@extend .text-blue;}
.hljs-deletion {@extend .text-red;}

// Heading anchor icon.
h1, h2, h3, h4, h5, h6 {
  .heading-anchor {
    margin-left: $sf-space / 2;
    visibility: hidden;
    opacity: 0;
    color: currentcolor;
  }
  &:hover .heading-anchor, .heading-anchor:hover {
    visibility: visible;
    opacity: inherit;
  }
}

a[target~=_blank] {
  article &, &.indicate-blank {
    &:not(.fa)::after {
      // Icon.
      content: $fa-var-external-link;
      @include fa-icon();

      // Cosmetic.
      margin-left: 0.3em;
      opacity: 0.5;
      font-size: 0.8em;
    }
  }
}

body, article {
  counter-reset: section;
}

.counter::before {
  content: '['counter(section)']';
  counter-increment: section;
}

.flat {
  box-shadow: none;
  &:focus {@extend :focus;}
}

.inline {display: inline}

// // Clears floats and prevents vertical margin collapse.
// .clear-both {
//   &::before, &::after {
//     content: '';
//     display: table;
//     clear: both;
//   }
// }

.align-right {text-align: right}

.wide {width: 100%}

.sm-wide {
  @media (max-width: $sf-breakpoint-sm) {width: 100%}
}

.margin {
  margin: 1rem;
}

.sm-margin-1-b {
  @media (max-width: $sf-breakpoint-sm) {margin-bottom: 1rem}
}

/**
 * nav
 */

.interact-nav {
  &:hover, &:focus {
    background-color: rgba(gray, 0.1);
  }
  &.active {
    box-shadow: inset 0 -3px 0 0;
  }
}
