/**
 * Misc settings.
 */

.fade {
  opacity: 0.5;
}

body {
  .sf-shadow-thin();
}

// Prettier horizontal rule.
hr {
  margin-top: 2 * @sf-common-margin;
  margin-bottom: 2 * @sf-common-margin;
  border: none;
  border-top: 1px solid lightgrey;
}

/**
 * Code styling.
 */
sf-collapse.code-collapse {
  > input[type=checkbox] + label {
    .sf-color(@sf-color-info, false, true);
  }
  > input[type=checkbox]:checked + label {
    &, &:hover, &:focus, &:active {
      background-color: fade(@sf-color-info, 30%);
    }
  }
}
