.list-unstyled {
  list-style-type: none;
}

// Fix missing diff styles.
.hljs-addition {@extend .text-blue;}
.hljs-deletion {@extend .text-red;}

// Heading anchor icon.
h1, h2, h3, h4, h5, h6 {
  .heading-anchor {
    margin-left: $sf-space / 2;
    visibility: hidden;
    opacity: 0;
    color: currentcolor;
  }
  &:hover .heading-anchor, .heading-anchor:hover {
    visibility: visible;
    opacity: inherit;
  }
}

a[target~=_blank] {
  article &, &.indicate-blank {
    &:not(.fa)::after {
      // Icon.
      content: $fa-var-external-link;
      @extend .fa;

      // Cosmetic.
      margin-left: 0.3em;
      opacity: 0.5;
      font-size: 0.8em;
    }
  }
}

.flat {
  box-shadow: none;
  &:focus {@extend :focus;}
}

.inline {display: inline}

code, pre {
  background-color: aliceblue;
}

// // Clears floats and prevents vertical margin collapse.
// .clear-both {
//   &::before, &::after {
//     content: '';
//     display: table;
//     clear: both;
//   }
// }

/**
 * Colours
 */

.text-capitalize {text-transform: capitalize}
.text-lowercase  {text-transform: lowercase}
// .text-underline  {text-decoration: underline}
.text-gray       {color: gray}
.text-lightgray  {color: lightgray}
.text-blue       {color: mediumslateblue}
.text-red        {color: orangered}

.bg-smoke {background-color: aliceblue}
.bg-red {
  background-color: tomato;
  color: white;
}
