body {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: circle;
}

.list-unstyled {
  list-style-type: none;
}

// Fix missing diff styles.
.hljs-addition {@extend .text-blue;}
.hljs-deletion {@extend .text-red;}

// Heading anchor icon.
h1, h2, h3, h4, h5, h6 {
  .heading-anchor {
    margin-left: $sf-space / 2;
    visibility: hidden;
    opacity: 0;
    color: inherit;
  }
  &:hover .heading-anchor, .heading-anchor:hover {
    visibility: visible;
    opacity: inherit;
  }
}

a[target~=_blank] {
  article &, &.indicate-blank {
    &:not(.fa)::after {
      // Icon.
      content: $fa-var-external-link;
      @extend .fa;

      // Cosmetic.
      margin-left: 0.3em;
      opacity: 0.5;
      font-size: 0.8em;
    }
  }
}

.flat {
  box-shadow: none;
  &:focus {@extend :focus;}
}

.inline {display: inline}

code, pre {
  background-color: rgba(map-get($sf-color-map-primary, default), 0.05);
}

/**
 * Whitespace.
 */

.pad {padding: $sf-space}
.space-out > :not(:last-child) {margin-bottom: $sf-space}
.space-out-h > :not(:last-child) {margin-right: $sf-space}

// // Clears floats and prevents vertical margin collapse.
// .clear-both {
//   &::before, &::after {
//     content: '';
//     display: table;
//     clear: both;
//   }
// }

/**
 * Colours
 */

.text-center     {text-align: center}
// .text-justify    {text-align: justify}
// .text-left       {text-align: left}
.text-right      {text-align: right}
// .text-small      {font-size: $sf-font-size-small}
// .text-large      {font-size: $sf-font-size-large}
.text-smaller    {font-size: $sf-font-size-smaller}
.text-larger     {font-size: $sf-font-size-larger}
.text-capitalize {text-transform: capitalize}
.text-lowercase  {text-transform: lowercase}
// .text-underline  {text-decoration: underline}
.text-gray       {color: gray}
.text-lightgray  {color: lightgray}
.text-blue       {color: mediumslateblue}
.text-red        {color: orangered}

.bg-smoke {background-color: aliceblue}
.bg-red {
  background-color: tomato;
  color: white;
}
