/**
 * Global text styles and mixins.
 */

/********************************** Styles ***********************************/

html {

  .sf-xs({font-size: 0.8em});
  .sf-sm({font-size: 0.9em});
  .sf-md({font-size: 1em});
  .sf-lg({font-size: 1em});

}

.text-capitalise {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

// Default to circle bullets.
ul, ol {
  list-style-type: circle;
}
