/**
 * Global text styles and mixins.
 */

/********************************** Styles ***********************************/

.text-capitalise {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

// Default to circle bullets.
ul {
  list-style-type: circle;
}
