<!-- Not ready: display spinner -->
<app-spinner size="large" class="flex items-center" style="min-height: 3em;" ng-if="self.loading"></app-spinner>

<!-- Ready: render -->
<app-words lang="self.lang" names="self.names" words="self.words" reference="self.appWords"></app-words>

<!-- Authentication status -->
<div class="pad" style="text-align: right" ng-if="!self.appWords.loading && !self.loading">
  <!-- Anonymous -->
  <p ng-if="self.authData.provider === 'anonymous'">
    Anonymous session.
    <a href ng-click="self.authWithTwitter()">
      <span>Sign in with Twitter.</span>
      <sf-icon class="twitter inline"></sf-icon></a>
  </p>
  <!-- Twitter -->
  <p ng-if="self.authData.provider === 'twitter'">
    Signed in as {{self.authData.twitter.displayName}}.
    <a href ng-click="self.unauth()">
      <span>Sign out.</span>
      <sf-icon class="sign-out inline"></sf-icon></a>
  </p>
</div>
