<sf-tabset>
  <!-- Tab header -->
  <label ng-repeat-start="store in self.stores" active-switch>
    <h3>{{store.$title}}</h3>
  </label>

  <!-- Tab body -->
  <sf-tab ng-repeat-end class="flex">
    <!-- Not ready: display spinner -->
    <app-spinner size="large" class="flex items-center" style="min-height: 3em;" ng-if="!store.$ready"></app-spinner>

    <!-- Left column: source words -->
    <div class="pad flex-1 pad-ch-v-05" ng-if="store.$ready">
      <h3>Source {{store.$title}}</h3>
      <form ng-submit="self.add(store, store.$input)" class="flex flex-row" sf-tooltip="{{store.$error}}" sf-trigger="{{!!store.$error}}">
        <input autofocus class="flex-11 info" ng-class="self.textClass(store.$title)" ng-model="store.$input">
        <button class="flex-1 success sf-icon plus fade" tabindex="-1"></button>
      </form>
      <sf-grid class="narrow">
        <sf-grid-item ng-repeat="item in store" class="flex justify-between" ng-class="self.textClass(store)">
          {{item.$value}}
          <sf-icon class="times fade interactive" ng-click="self.drop(store, item)"></sf-icon>
        </sf-grid-item>
      </sf-grid>
    </div>

    <!-- Right column: generated results -->
    <div class="pad flex-1 pad-ch-v-05" ng-if="store.$ready">
      <h3>Generated {{store.$title}}</h3>
      <form ng-submit="self.generate(store)" class="flex flex-row">
        <button class="flex-1 success sf-icon refresh fade" tabindex="-1"></button>
        <button class="success flex-11">Generate</button>
      </form>
      <sf-grid class="narrow">
        <sf-grid-item ng-repeat="word in store.$results" class="flex justify-between" ng-class="self.textClass(store)">
          <sf-icon class="arrow-left fade interactive" ng-click="self.pick(store, word)"></sf-icon>
          <span class="flex-1 text-center" style="padding: 0">{{word}}</span>
        </sf-grid-item>
        <sf-grid-item ng-if="store.$depleted" class="flex justify-between">
          <span class="flex-1 text-center fade" style="padding: 0">(depleted)</span>
        </sf-grid-item>
      </sf-grid>
    </div>
  </sf-tab>
</sf-tabset>
