<footer style="margin-top: auto">
    <div class="limit-width flex row-between-center margin-t-4 margin-b-2">
        <span class="flex-1 flex row-start-start gaps-h-0x5">
            <span class="text-left">{{years}}</span>
            {{externalAnchor "https://github.com/mitranim/mitranim.github.io" "website source"}}
        </span>

        <span class="flex-1 text-center">
            {{if not (eq .Path "index.html")}}<a href="/#contacts" class="decorate-link">touch me</a>{{end}}
        </span>

        <span class="flex-1 flex row-end-center gaps-h-0x5">
            <a href="#top" class="fill-gray-fg-close padding-1 busy-bg-gray-close" onclick="event.preventDefault(); window.scrollTo(0, 0)" aria-label="scroll up">
                {{include "svg-arrow-up"}}
            </a>
        </span>
    </div>
</footer>
