<!--

Note the absence of a base href. By default, links are relative to the current
URL rather than the site root. This enables "#hash"-style navigation inside a
page, which is particularly useful for articles with a TOC. However, other
links MUST be absolute.

-->

<!doctype html>
<html class="theme-light">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2, initial-scale=1, user-scalable=yes" />
    <link rel="icon" href="data:;base64,=" />
    <link rel="stylesheet" type="text/css" href="{{linkWithHash "/styles/main.css" | asAttr}}" />

    <title>{{if .Title}}{{.Title | asHtml}}{{else}}about:mitranim{{end}}</title>

    <link rel="alternate" type="application/atom+xml" title="Mitranim's Posts (Atom)" href="/feed.xml" />
    <link rel="alternate" type="application/rss+xml" title="Mitranim's Posts (RSS)" href="/feed_rss.xml" />

    <meta name="author" content="Nelo Mitranim" />
    {{if .Title}}<meta property="og:title" content="{{.Title | asAttr}}" />{{end}}
    {{if .Description}}<meta name="description" content="{{.Description | asAttr}}" />{{end}}
    {{if .Image}}<meta property="og:image" content="/images/{{.Image | asAttr}}" />{{end}}
    {{if .Type}}
    <meta property="og:type" content="{{.Type | asAttr}}" />
    <meta property="og:site_name" content="about:mitranim" />
    {{end}}
</head>
<body class="col-start-stretch" style="min-height: 100vh">
