{{template "site-top.html" .}}
<article role="main article" id="main-content" class="fancy-typography flex-1 col-start-stretch gaps-v-2">
    <header class="gaps-v-1">
        <h1>{{.Title}}</h1>
        {{if .Description}}<p role="doc-subtitle" class="font-large font-italic">{{.Description}}</p>{{end}}
        {{if not .Created.IsZero}}<p class="fg-faded">Published {{.Created | formatDateForHumans}}</p>{{end}}
        {{if not .Updated.IsZero}}<p class="fg-faded">Updated {{.Updated | formatDateForHumans}}</p>{{end}}
    </header>
    {{.HtmlContent | asHtml}}
    <hr style="margin-top: auto" />
    <div class="gaps-v-1">
        <p>
            This blog currently doesn't support comments. To respond, use <a href="mailto:me@mitranim.com?subject=Re:%20{{.Title}}">me@mitranim.com</a> or one of my <a href="/#contacts">other contacts</a>.
        </p>
        {{include "feed-links.html"}}
    </div>
</article>
{{template "site-bottom.html" .}}
