{{template "site-top.html" .}}
<div role="main" id="main-content" class="fancy-typography flex-1 col-start-stretch gaps-v-2">
    <article role="article" class="fancy-typography">
        <!-- Should be kept in sync with "MarkdownRenderer.RenderNode" logic for headings -->
        <h1>{{headingPrefix}}{{.Title}}</h1>
        {{if .Description}}<p role="doc-subtitle" class="font-large font-italic">{{.Description}}</p>{{end}}
        {{if not .Created.IsZero}}<p class="fg-faded">Published {{.Created | formatDateForHumans}}</p>{{end}}
        {{if not .Updated.IsZero}}<p class="fg-faded">Updated {{.Updated | formatDateForHumans}}</p>{{end}}
        {{.HtmlBody | asHtml}}
    </article>

    <hr style="margin-top: auto" />

    <div class="gaps-v-1">
        <p>
            This blog currently doesn't support comments.
            Feel free to {{externalAnchor "https://twitter.com/mitranim" "tweet"}} at me,
            email to <a href="mailto:me@mitranim.com?subject=Re:%20{{.Title}}">me@mitranim.com</a>,
            or use the <a href="/#contacts">other contacts</a>.
        </p>
        {{include "feed-links.html"}}
    </div>
</div>
{{template "site-bottom.html" .}}
