{{template "site-top.html" .}}
<div role="main" id="main-content" class="col-start-stretch gaps-v-4">
    <div class="fancy-typography gaps-v-2">
        <h1>Blog Posts</h1>

        {{range $post := listedPosts}}
            {{$link := joinPath "/posts/" $post.Slug}}
            <div class="gaps-v-1">
                <h2><a href="{{$link | asAttr}}">{{$post.Title | asHtml}}</a></h2>
                {{if $post.Description}}
                    <p>{{$post.Description | asHtml}}</p>
                {{end}}
                {{if not $post.Created.IsZero}}
                    <p class="fg-faded font-small">Published {{$post.Created | formatDateForHumans}}</p>
                {{end}}
                {{if not $post.Updated.IsZero}}
                    <p class="fg-faded font-small">Updated {{$post.Updated | formatDateForHumans}}</p>
                {{end}}
            </div>
        {{else}}
            <p>Oops! It appears there are no public posts yet.</p>
        {{end}}
    </div>

    <div class="fancy-typography">
        <h1>Feed Links</h1>
        {{include "feed-links.html"}}
    </div>
</div>
{{template "site-bottom.html" .}}
