extends layout

block title
  title= appName

block content
  .wrapper-site
    .content.row
      .col-sm-9
        h4.text-muted Who
        p Iaroslav Bogucharskii
        p Moscow, Russia
        h4.text-muted What I do
        p= 'Web development at day, writing '
          a(href='https://github.com/Mitranim') open source libraries
          |  at night.
        h4.text-muted Handiwork
        p
          span.fa.fa-code &nbsp;
          a(href='http://jisp.io') jisp.io
        p
          span.fa.fa-code &nbsp;
          a(href='http://prostopoi.ru') ProstoPoi
        h4.text-muted Links
        p.small
          span.fa.fa-github &nbsp;
          a(href='https://github.com/Mitranim') github
          | &nbsp;&nbsp;
          span.fa.fa-skype &nbsp;
          a(href='skype:mitranim.web?chat') skype
          | &nbsp;&nbsp;
          span.fa.fa-envelope-o &nbsp;
          a(href='mailto:me@mitranim.com') email
          | &nbsp;&nbsp;
          span.fa.fa-linkedin &nbsp;
          a(href='http://www.linkedin.com/in/mitranim') linkedin
          | &nbsp;&nbsp;
          span.fa.fa-twitter &nbsp;
          a(href='http://twitter.com/mitranim') twitter
      img.photo.col-sm-3(src='/img/face.jpg')
