<% $entitle(title, $) %>

<div class="sf-jumbo" <%= typeof image !== 'undefined' && image ? bgImg(image) : '' %>>
  <div class="sm-col-between-start sm-space-out md-row-between-stretch">
    <div class="col-between-stretch space-out">
      <h2><%= title %></h2>
      <% if (typeof description !== 'undefined') { %>
        <p><%= description %></p>
      <% } %>
    </div>
    <div class="sm-col-between-stretch md-col-between-end space-out">
      <div>
        <%= $include('partials/feed-links', $) %>
      </div>
      <% if (typeof date !== 'undefined') { %>
        <div class="fade" style="font-size: 0.8em">
          <%= date instanceof Date ? date.toDateString() : date %>
        </div>
      <% } %>
    </div>
  </div>
</div>

<article>
  <!-- Post -->
  <%= $content %>
  <!-- Disqus thread -->
  <% if (prod) { %>
    <br>
    <%= $include('partials/disqus', $) %>
  <% } %>
</article>
