<% $entitle(title, $) %>

<div class="sf-jumbo" <%= typeof image !== 'undefined' && image ? bgImg(image) : '' %>>
  <h2><%= title %></h2>
  <div class="layout-row layout-space-between layout-cross-end">
    <% if (typeof description !== 'undefined') { %>
      <p><%= description %></p>
    <% } %>
    <% if (typeof date !== 'undefined') { %>
      <p class="fade" style="font-size: 0.8em">
        <%= date instanceof Date ? date.toDateString() : date %>
      </p>
    <% } %>
  </div>
</div>

<div class="pad">
  <article class="shadow">
    <!-- Post -->
    <%= $content %>
    <!-- Disqus thread -->
    <% if (prod()) { %>
      <br>
      <%= $include('partials/disqus', $) %>
    <% } %>
  </article>
</div>
