// https://github.com/mitranim/style-base

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Typography */

* {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-transform: inherit;
}

/*
Fixed line height reduces the jumping that happens when loading a webfont.
`ex` ≈ height of lowercase letter. This property must be set directly on an
element rather than inherited, hence the `*`.
*/
* {
    line-height: 2.8ex;
}

html {
    font-family: sans-serif;
}

code, key, pre {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}

/* cursors */

html, :-webkit-any-link {
    cursor: default;
}

/* button */

button {
    cursor: pointer;
    border: none;
    color: inherit;
    background-color: inherit;
    > * {vertical-align: middle;}
    border-radius: 0;
}

[role=button] {
    cursor: pointer;
}

/* inputs */

input, textarea {
    border: none;
    color: inherit;
    background-color: inherit;
}

textarea {
    resize: none;
}

::placeholder {
    color: currentColor;
    opacity: 0.5;
}

form, input, textarea, button, select, option {
    text-decoration: inherit; // FF
}

input[type=checkbox],
input[type=radio],
input[type=select],
input[type=file] {
    cursor: pointer;
}

// In Chrome (version 63 and possibly others), radio inputs shrink, while
// radio inputs don't.
input[type=radio] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

// // Eliminates some minor layout glitches
// form {
//   display: flex;
//   flex-direction: column;
// }

input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    -moz-appearance: none;
}

/* hr */

hr {
    margin: 0;
    border: none;

    // Putting border on a pseudoelement rather than the tag allows padding to
    // affect the width.
    &::before {
        content: '';
        display: block;
        border-top: 1px dashed;
    }
}

/* anchor */

a {
    text-decoration: none;
    // Screw default anchor colors! They always mess with themes. Let's decorate
    // links manually.
    color: inherit;
}

a[href] {
    cursor: pointer;
}

/* Lists */

ul {
    list-style-type: disc;
}

ul, ol {
    list-style-position: inside;
}

/* monospace */

pre {
    white-space: pre-wrap;
}

/* Typography */

b, strong {
    font-weight: bolder;
}

/* Misc */

// IE 10 fix & higher specificity.
[hidden]:not(:root) {
    display: none;
}

// IE fix.
template {
    display: none !important;
}

[disabled] {
    pointer-events: none;
    opacity: 0.7;
}

img {
    max-width: 100%;
}
